
button[kind="secondary"]:hover {
     border-color: #50C878;
     color: #50C878;
}

button[kind="secondary"]:focus:not(:active) {
     border-color: #50C878;
     color: #50C878;
}

button[kind="secondary"]:active {
     border-color: #50C878;
     color: #50C878;
     background-color: #50C878;
}

.download_link {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;
    color-scheme: dark;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition-duration: 200ms;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: auto;
    margin-left: 0px;
    line-height: 1.6;
    pointer-events: auto;
    color: white;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: rgba(61, 213, 109, 0.2);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 0px;
    opacity: 1;
    text-decoration: none
}
